{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.firstName }}, {{ user.lastName}} {% endblock %}

{% block main %}
    Nom : {{ user.firstName }}, {{ user.lastName}}
    <br>
    Tel : {{ user.phone }}
    <br>
    Email : {{ user.email }}
    <br>
    <h3>Actions</h3>
    <a href="{{ path('app_profile_update') }}" class="btn">Modifier mes informations</a>
    <a href="{{ path('app_profile_delete') }}" class="btn">Supprimer mon compte</a>
    <h3>Historique</h3>
    <a href="{{ path('app_reservation') }}" class="btn">Historique des réservations</a>
    <a href="{{ path('app_order') }}" class="btn">Historique des commandes</a>
{% endblock %}
