{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.firstName }}, {{ user.lastName}} {% endblock %}

{% block main %}
    {{ user.firstName }}, {{ user.lastName}}
    <br>
    Tel : {{ user.phone }}
    <br>
    Email : {{ user.email }}
    <br>
    <a href="{{ path('app_reservation') }}" class="btn">Historique des réservations</a>
    <a href="{{ path('app_order') }}" class="btn">Historique des commandes</a>
{% endblock %}
