{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block main %}
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.phone) }}
        <br>
        <button class="btn btn-primary" type="submit">Enregistrer</button>
        <a class="btn btn-secondary" href="{{ path('app_profile_show') }}">Annuler</a>
    {{ form_end(form) }}
{% endblock %}
