{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block main %}
    {{ form_start(registration) }}
        {{ form_row(registration.firstName) }}
        {{ form_row(registration.lastName) }}
        {{ form_row(registration.email) }}
        {{ form_row(registration.phone) }}
        {{ form_row(registration.password) }}
    <div class="action-register gap-2">
    <button type="submit" class="btn btn-primary">S'inscrire</button>
    <a href="{{ path('app_login') }}" class="btn btn-secondary">Déjà un compte ?</a>
    </div>
    {{ form_end(registration) }}
{% endblock %}
