{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block main %}
    {{ form_start(registration) }}
        {{ form_row(registration.firstName) }}
        {{ form_row(registration.lastName) }}
        {{ form_row(registration.email) }}
        {{ form_row(registration.phone) }}
        {{ form_row(registration.password) }}
    <button type="submit" class="btn">S'inscrire</button>
    <a href="{{ path('app_login') }}">Déjà un compte ?</a>
    {{ form_end(registration) }}
{% endblock %}
