{% extends 'base.html.twig' %}

{% block title %}Réservations : {{ restaurant.name }}{% endblock %}

{% block main %}
    <a href="{{ path('app_home') }}">Retour</a>

    <ul>
        {% for reservation in reservations %}
            <li>
                {{ reservation.reservationDate|date('d/m/Y H:i') }} -
                {% if reservation.user %}
                    {# rajouter une redirection vers les profiles quand ça sera fait #}
                    Nom : {{ reservation.user.lastName }} {{ reservation.user.firstName }}
                {% else %}
                    'Client inconnu'
                {% endif %}
                ({{ reservation.numberOfPeople }} pers.)
                - Statut : {{ reservation.status }}
                {% if reservation.restaurantTable %}
                    - Table {{ reservation.restaurantTable.number }}
                {% endif %}

                <a href="{{ path('app_reservation_update', {'id': reservation.id}) }}" class="btn btn-sm btn-warning">
                    Modifier
                </a>
                <a href="{{ path('app_reservation_delete', {'id': reservation.id}) }}" class="btn btn-sm btn-danger">
                    Supprimer
                </a>
            </li>
        {% else %}
            <li>Aucune réservation.</li>
        {% endfor %}
    </ul>
{% endblock %}
