{% extends 'base.html.twig' %}
{% set textSearch = '' %}
{% if search is defined and search != '' %}
    {% set textSearch = 'contenant : ' %}
{% endif %}
{% block title %}Liste des restaurants {{ textSearch }}<em>{{ search }}</em>{% endblock %}
{% block main %}
    <nav class="filtres-restaurant">
        <a href="#" data-category="1" class="active btn btn-secondary">Italien</a>
        <a href="#" data-category="2" class="btn btn-secondary">Japonais</a>
        <a href="#" data-category="3" class="btn btn-secondary">Fast-Food</a>
        <a href="#" data-category="4" class="btn btn-secondary">Gastronomique</a>
        <a href="#" data-category="5" class="btn btn-secondary">Végétarien</a>
        <a href="#" data-category="6" class="btn btn-secondary">Brasserie</a>
        <a href="#" data-category="7" class="btn btn-secondary">Pizzeria</a>
    </nav>
        <ul class="restaurants list-group">
            {% for restaurant in restaurants %}
            <div class="restaurant" data-category=",{{ restaurant.categories|map(c => c.id)|join(',') }},">
                <li class="list-group-item list-group-item-action restaurant-item">
                <a href="{{ path('app_restaurant_show', {id: restaurant.id}) }}"
                ><span class="name-index">{{ restaurant.name }}</span>
                    <nav class="action-restaurant">
                        <a href="{# {{ path('app_reservation_create', {id: restaurant.id}) }} #}" class="btn btn-primary reservCommand-index">Réserver une table</a>
                        <a href="{# {{ path('app_commande_create', {id: restaurant.id}) }} #}" class="btn btn-primary reservCommand-index">Commander</a>
                    </nav>
                </a>
            </div>
            {% endfor %}
        </ul>
    <script>
        const filtres = document.querySelectorAll('.filtres-restaurant a');
        const restaurants = document.querySelectorAll('.restaurant');

        function filtrerRestaurants(category) {
            //On retire les marqueurs active pour retirer les restaurants que l'on ne veut plus afficher
            restaurants.forEach(restaurant => {
                restaurant.classList.remove('active');
            });

            //On ajoute les marqueurs active pour les restaurants correspondant a la category voulue
            const restaurantAfficher = document.querySelectorAll(`.restaurant[data-category*=",${category},"]`);
            restaurantAfficher.forEach(restaurant => {
                restaurant.classList.add('active');
            })
        }

        //On ajoute un event en cas de clic sur les boutons des catégories
        filtres.forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                document.querySelector('.filtres-restaurant a.active').classList.remove('active');
                this.classList.add('active');
                //On récupère la category voulue
                const category = this.getAttribute('data-category');
                //On filtre les restaurants pour afficher ceux correspondant à la category voulue
                filtrerRestaurants(category);
            });
        });
        //On a défini la catégorie par défaut à afficher
        const DefaultCategory = document.querySelector('.filtres-restaurant a.active').getAttribute('data-category');
        //On filtre pour afficher les restaurants de la category par défaut
        filtrerRestaurants(DefaultCategory);
    </script>
{% endblock %}
