{% extends 'base.html.twig' %}

{% block title %}
    Gérer le restaurant {{ restaurant.name }}
{% endblock %}

{% block main %}
    {% if role %}
        <div class="d-flex flex-column align-items-center justify-content-center">
            <a href="{{ path('app_reservation_restaurant', {'id' : restaurant.id}) }}">
                <span class="btn btn-primary bg-primary">Gérer les réservations</span>
            </a>
            <a href="{{ path('app_order_restaurant', {'id': restaurant.id}) }}">
                <span class="btn btn-primary bg-primary">Gérer les commandes</span>
            </a>
            {% if role.role == 'P' %}
                <a href="{{ path('app_restaurant_update', {'id': restaurant.id}) }}">
                    <span class="btn bg-info">Mettre à jour le Restaurant</span>
                </a>
                <a href="{{ path('app_restaurant_delete', {'id': restaurant.id}) }}">
                    <span class="btn bg-danger">Supprimer le Restaurant</span>
                </a>
                <a href="{{ path('app_dish_create', {id: restaurant.id}) }}">
                    <span class="btn bg-info">Ajouter un plat</span>
                </a>
                <div class="card p-4 bg-light">
                    <h5>Inviter un serveur</h5>
                    <p class="small text-muted">L'utilisateur doit déjà être inscrit sur le site.</p>

                    <form action="{{ path('app_invitation_send', {'id': restaurant.id}) }}" method="post" class="d-flex gap-2">
                        <input type="email" name="server_email" class="form-control" placeholder="Email du serveur" required>
                        <button type="submit" class="btn btn-primary">Inviter</button>
                    </form>
                </div>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}

