{% extends 'base.html.twig' %}

{% block title %}Gestion Stock : {{ restaurant.name }}{% endblock %}

{% block main %}
    <div class="container mt-4">
        <table class="table table-bordered">
            <tr>
                <th>Produit</th>
                <th>Catégorie</th>
                <th>Quantité</th>
            </tr>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.product.productName }}</td>
                    <td>{{ stock.product.category.name }}</td>
                    <td>{{ stock.quantity }} {{ stock.product.measureUnit }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="text-center">Vide</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
