{% extends 'base.html.twig' %}

{% if app.request.query.has('search') %}
    {% set currentSearch = app.request.query.get('search') %}
{% else %}
    {% set currentSearch = '' %}
{% endif %}


{% block title %}Liste des Plats{% endblock %}

{% block main %}

    <ul class="dish">
        {% for element in dishes %}

            <li>
                <a href="{{ path('app_dish_show', {id: element.id}) }}">
                    <span class="name">{{ element.name}}</span>,
                    <span class="description">{{ element.description }}</span>
                    <span class="category">{{ element.category }}</span>
                    <span class="price">{{ element.price }}</span>
                </a>
            </li>

        {% endfor %}
    </ul>
{% endblock %}
