{% extends 'base.html.twig' %}

{% block title %}Commander chez {{ restaurant.name }}{% endblock %}

{% block main %}
    <div class="container mt-3">

        <hr>

        {{ form_start(form) }}
        <div class="mb-3">
            {{ form_row(form.orderType, {'attr': {'class': 'form-select'}}) }}
        </div>

        <div class="mb-3">
            {{ form_row(form.deliveryAddress, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_row(form.deliveryPostalCode, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_row(form.deliveryCity, {'attr': {'class': 'form-control'}}) }}
        </div>

        <hr>

        <h3>La Carte</h3>

        <ul class="list-group mb-3">
            {% for itemField in form.orderItems %}
                {% set dish = itemField.vars.value.dish %}

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        {{ dish.name }} - {{ dish.price / 100 }} €
                        <br>
                        {{ dish.description }}
                    </div>
                    <div>
                        {{ form_widget(itemField.quantity, {
                            'attr': {
                                'class': 'form-control',
                                'style': 'width: 80px',
                                'min': '0'
                            }
                        }) }}
                    </div>
                </li>

            {% endfor %}
        </ul>
        <button type="submit" class="btn btn-success w-100">Valider la commande</button>
        <div class="mt-2">
            <a href="{{ path('app_order') }}" class="btn btn-secondary action-btn">Retour</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
